:root {
  --primary-color: #343434;
  --secondary-color: #000;
  --primary-font: "Audiowide", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
}

h1 {
  font-family: var(--primary-font);
  text-transform: uppercase;
  font-size: 72px;
  line-height: 76px;
  margin-bottom: 0;
}

h2 {
  font-family: var(--secondary-font);
  font-size: 32px;
  margin-top: 20px;
  margin: auto 300px;
}

h3 {
  font-family: var(--primary-font);
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: 50px;
}

h4 {
  font-family: var(--secondary-font);
  font-size: 16px;
  text-transform: uppercase;
  color: #989898;
}

p {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  font-size: 16px;
  max-width: 440px;
  margin: 30px 0 45px;
}

.gradient-background {
  background-image: url(/images/gradient-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 120px;
}

.landing-page {
  text-align: center;
  padding-top: 160px;
  padding-bottom: 300px;
  color: var(--primary-color);
}

.home-intro {
  margin-bottom: 125px;
}

.logo {
  max-width: 260px;
  margin: 40px auto auto 70px;
}

.btn-branding {
  padding: 16px 30px;
  min-width: 215px;
  border: 1px solid var(--primary-color);
  border-radius: 100px;
  font-size: 24px;
  color: var(--primary-color);
  background: linear-gradient(
    90deg,
    #00aee7 50%,
    transparent 50%
  ); /* Initial gradient */
  background-size: 200% 100%;
  background-position: right;
  transition: background-position 0.8s, color 0.8s;
}

.btn-branding:hover {
  background-position: left;
  border: 1px solid var(--primary-color);
}
/* Navbar Styles */

/*.navbar-2 {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -270px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: right 0.3s ease;
}

.navbar-nav {
  transform: rotate(90deg) translateY(-100%);
}

.nav-link {
  font-family: var(--primary-font);
  text-transform: uppercase;
  font-size: 24px;
  margin: 0 60px;
}

.active {
  text-decoration: underline;
}
*/

.navbar-2 {
  position: fixed;
  top: 0;
  right: 0; /* Fixed on the right side of the screen */
  height: 100%; /* Full-height */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the navbar vertically */
  z-index: 1030; /* Higher stacking order */
}

.nav-items {
  transform: rotate(90deg) translateX(60%); /* Rotate and position properly */
  transform-origin: top right; /* Set the rotation origin to the top right */
}

.navbar-nav {
  flex-direction: column; /* Stack items vertically */
  gap: 100px; /* Space out items vertically */
  margin-right: 20px; /* Right margin for spacing from edge */
}

.nav-link {
  font-family: var(--primary-font);
  text-transform: uppercase;
  font-size: 24px;
}

.nav-link.active {
  border-bottom: 3px solid #00aee7;
}

/*Portfolio Styles*/
.portfolio-item {
  margin-top: 200px;
}

.portfolio-img {
  border-radius: 50px;
  max-width: 600px;
  box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0.25);
}

.portfolio-desc {
  padding: auto 50px;
}

/* Contact Styles */

.contact {
  padding-top: 280px;
  padding-bottom: 300px;
}


.email-link {
  text-decoration: none;
  color: var(--primary-color);
}

/*footer*/

footer {
  min-height: 50px;
  background-color: var(--primary-color);
  padding: 20px;
}

.designed-by {
  color: #fff;
  margin-left: 40px;
  margin-right: 40px;
}
@media (max-width: 1240px) {
  body {
    text-align: center;
  }
  h2 {
    font-size: 25px;
    margin: 0;
  }
  p {
    margin: 30px auto;
  }

  .nav-items {
    transform: rotate(0);
  }
  .navbar-2 {
  
    margin-top: 40px;
    justify-content: right;
  }
}

@media (max-width: 991px) {
  .nav-items {
    background-color: #ffffff91;
    border-radius: 10px;
  }
}
@media (max-width: 768px) {
  body {
    text-align: center;
  }

  .nav-link {
    font-size: 18px; /* Adjust font size for mobile devices */
  }

  h2 {
    font-size: 25px;
    margin: 0;
    margin-top: 20px;
  }

  .landing-page {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .home-intro {
    margin-bottom: 50px;
  }

  h3 {
    font-size: 40px;
    text-align: center;
  }

  .designed-by {
    font-size: 8px;
  }
}

@media (max-width: 540px) {
  h1 {
    font-size: 60px;
    line-height: 1;
  }
}
